body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  height: 25%;
}

.Cell {
  height: 100px;
  width: 100px;
  background-color: blue;
  cursor: pointer;
}

.Cell-lit {
  background-color: gold;
}
